<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\log\timerservice.log" />
        <add name="MyEventListener" type="System.Diagnostics.EventLogTraceListener, system, version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="OfficeDevPnPEventLog"/>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
